{{ define "main" }}

{{ $dataJ := getJSON .Site.Params.ppi_url }}

<section class="site-project-header">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-8">
        <div class="site-project-header-content">
          <h1>
            {{ .Title | safeHTML }}
          </h1>
        </div>
      </div>
      <div class="col-lg-4">
        <a href="#project" class="site-project-header-action scroll-to">
          <img src="{{ "images/arrow-down.svg" | absURL }}" alt="arrow-down">
        </a>
      </div>
    </div>
  </div>
</section>

<section class="site-project" id="project">
  <div class="container">
    <div class="row">
      {{ range first 20 $dataJ }}
        {{ $media_type := .media_type | lower }}
        {{ $image_small := .image_small }}
        {{ $permalink := .permalink }}
        {{ $caption := .caption }}
      <div class="col-lg-6 col-md-10 mx-auto">
        <div class="site-project-item">
          <a href="{{ $permalink }}" target="_blank" rel="noopener noreferrer">
          <div class="site-project-item-thumb">
            <img class="{{ $media_type }}" src="{{ $image_small }}" {{ with $caption }}alt="{{ . }}"{{ else }}alt=""{{ end }}>
          </div>
          <div class="site-project-item-content">
           <h4>{{ $caption }}</h4>
          </div>
        </a>
        </div>
      </div>
      {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>

{{ partial "call-to-action.html" . }}

{{ end }}