//site color variables
$body-color: #fff;
$primary-color: #4B4A48;
$secondary-color: #208A25;
//$text-color: #9D9EA5;
$text-color: $primary-color;
$text-color-dark: #00113E;
$text-color-light: #FFFFFF;
$link-text-color: $secondary-color;
$site-ease: cubic-bezier(0.36, 0.03, 0, 0.91);
$gray: #CBCBCB;
$dark-gray: $primary-color;

// solid colors
$white: #fff;
$black: #000;

// Font Variables
$primary-font: 'Josefin Sans', sans-serif;
$secondary-font: 'Montserrat', sans-serif;
