{{ define "main" }}

<section class="site-blog details">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <article class="site-blog-details">
          <p><span>{{ .PublishDate.Format "January 2, 2006" }}</span> by <span>{{ .Params.author }}</span></p>
          <h2 class="blog-title">{{ .Title }}</h2>
          <img class="feature-image" src="{{ .Params.feature_image | absURL }}" alt="blog-feature-image">
          {{ .Content }}
        </article>
      </div>
    </div>
  </div>
</section>

{{ partial "call-to-action.html" . }}

{{ end }}