{{ define "main" }}

<section class="site-about-header">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="site-about-wrapper">
          <div class="site-about-company">
            <h1>
              {{ .Params.heading }}
            </h1>
          </div>
          <div class="site-about-description">
            <p>
              {{ .Description }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="site-expertise">
  <div class="container">
    <div class="row">
      {{ with .Site.Data.expertise }}
      <div class="col-md-5">
        <div class="section-title">
          <h2>{{ .expertise_title }}</h2>
        </div>
      </div>
      <div class="col-md-6">
        <ul class="site-expertise-list"> 
          <li><i class="{{ .icon1 }}"></i>{{ .expertise1 }}</li>
          <li><i class="{{ .icon2 }}"></i>{{ .expertise2 }}</li>
          <li><i class="{{ .icon3 }}"></i>{{ .expertise3 }}</li> 
        </ul>
      </div>
      {{ end }}
    </div>
  </div>
</section>

{{ partial "team.html" . }}

{{ partial "call-to-action.html" . }}

{{ end }}