{{ with .Site.Data.clients }}
  {{ if .enable }}
  <section class="site-client">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title">
            <h2>{{ .title }}</h2>
          </div>
          <div class="site-client-wrapper">
            {{ range .client_logos }}
            <div class="site-client-item">
              <img src="{{ . | absURL }}" alt="client-logo">
            </div>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </section>
  {{ end }}
{{ end }}