
{{ with .Site.Data.expertise }}

<section class="site-expertise">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="section-title">
                    <h2>{{ .expertise_title }}</h2>
                </div>
            </div>
            <ul class="site-expertise-list"> 
                <li><i class="{{ .icon1 }}"></i>{{ .expertise1 }}</li>
                <li><i class="{{ .icon2 }}"></i>{{ .expertise2 }}</li>
                <li><i class="{{ .icon3 }}"></i>{{ .expertise3 }}</li> 
            </ul>
        </div>
    </div>
</section>

{{ end }}
