{{ with .Site.Params.banner }}
  {{ if .enable }}
  {{ "<!-- Site Hero Start -->" | safeHTML }}
  <section class="site-hero" style="background-image: url('{{ .background_image }}');">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6 order-2 order-md-1 text-center text-md-left">
          <div class="site-hero-content text-center">
            <h2>{{ .subheading }}</h2>
            <h1>
              {{ .heading }}
            </h1>
            <h6>{{ .tagline }}</h6>
            <ul class="site-hero-content-buttons">
              <li>
                <a href="{{ .primary_button_url | absURL }}" class="btn btn-secondary">
                  <span class="btn-area">
                    <span data-text="{{ .primary_button }}">
                      {{ .primary_button }}
                    </span>
                  </span>
                </a>
              </li>
              <li>
                <a href="{{ .secondary_button_url | absURL }}" class="btn btn-primary">
                  <span class="btn-area">
                    <span data-text="{{ .secondary_button }}">
                      {{ .secondary_button }}
                    </span>
                  </span>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 text-center order-1 order-md-2", id="image">
          <div class="site-hero-content image">
            <img src="{{ .hero_image }}" alt="hero-image">
          </div>
        </div>
      </div>
    </div>
    <!--- <img src="{{ .hero_image }}", class="site-hero-image"> -->
    <a href="#counter" class="site-hero-scroll scroll-to">
      <img src="images/arrow-down.svg" alt="arrow-down">
    </a>
  </section>
  {{ "<!-- Site Hero End -->" | safeHTML }}
  {{ end }}
{{ end }}