{{ $dataJ := getJSON .Site.Params.behold_url }}

{{ with .Site.Params.portfolio }}
  {{ if .enable }}
  <section class="site-project" id="project">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title">
            <h2>{{ .title }}</h2>
            <p>{{ .subtitle }}</p>
          </div>
        </div>
        {{ range first 4 $dataJ }}
          {{ $media_type := .mediaType | lower }}
          {{ $media_url := .mediaUrl }}
          {{ $permalink := .permalink }}
          {{ $caption := .caption }}
        <div class="col-lg-6 col-md-10 mx-auto">
          <div class="site-project-item">
            <a href="{{ $permalink }}" target="_blank" rel="noopener noreferrer">
            <div class="site-project-item-thumb">
              <img class="{{ $media_type }}" src="{{ $media_url }}" {{ with $caption }}alt="{{ . }}"{{ else }}alt=""{{ end }}>
            </div>
            <div class="site-project-item-content">
              <h4>{{ $caption }}</h4>
            </div>
            </a>
          </div>
        </div>
        {{ end }}
        <div class="col-12 text-center text-lg-left">
          <a href="portfolio" class="site-project-cta">Više slika</a>
        </div>
      </div>
    </div>
  </section>
  {{ end }}
{{ end }}