{{ define "main" }}
<section class="site-contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <h2 class="site-contact-title">
          {{ .Params.heading | safeHTML }}
        </h2>
        <p>{{ .Params.info }}</p>
      </div>
      <div class="col-lg-6 ml-auto">
        <div class="site-contact-form">
          <h4>{{ .Params.socials }}</h4>
          <ul>
            <li>
              <div>
              <i class="fa-brands fa-viber fa-lg"></i>
              <a href="viber://add?number={{.Site.Data.contact.phone}}">{{.Site.Data.contact.phone}}</a>
              </div>
            </li>
            <li>
              <div>
              <i class="fa-brands fa-instagram fa-lg"> </i>
              <a href="https://www.instagram.com/{{.Site.Data.contact.instagram}}">{{.Site.Data.contact.instagram}}</a>
              </div>            
            </li>
            <li>
              <div>
              <i class="fa-brands fa-facebook fa-lg"></i>
              <a href="https://www.facebook.com/{{.Site.Data.contact.facebook}}">{{.Site.Data.contact.facebook}}</a>
              </div>
            </li>
          </ul>
        </div>
        <div class="site-contact-form">
          <h4>{{ .Params.mailphone }}</h4>
        <ul>
          <li>
            <div>
              <i class="fa-solid fa-phone fa-lg"></i>
              <a href="tel:{{.Site.Data.contact.phone}}">{{.Site.Data.contact.phone}}</a>
            </div>
          </li>
          <li>
            <i class="fa-solid fa-envelope fa-lg"></i>
            <a href="mailto:{{.Site.Data.contact.mail}}">{{ .Site.Data.contact.mail }}</a>
          </li>
        </ul>
        </div>
      </div>
</section>
{{ end }}
